.my_header{width:100%;height:260px;}
.my_footer{height:245px;width:100%;}
.size{
	width:99%;
	margin:auto;
}
.size img{
	width:100%;
	height:300px;
}
.index{
	width:90%;
	margin:auto;
	padding-bottom:50px;
}
.bread{
	display:flex;
	padding-top:30px;
	width:100%;
}
.bread li{
    padding:0 15px;
	
}
.bread li a{
	display:inline-block;
	padding:10px 20px;
	color:black;
}
.bread li a:hover{
	background:rgb(186, 29, 29);
	color:#fff;
	border-radius:2px;
}
.separator{
	color:rgb(136,136,136);
	padding:8px 0px;
}
.content{
	padding-top:20px;
	padding-bottom:25px;
}
.content h2{
	padding:5px 0;
}
.content p{
	line-height:2;
	font-size:14px;
	color:rgb(136,136,136);
	padding:4px 0;
}
.title p{
	padding:6px 0;
	margin-bottom:8px;
	font-size:14px;
	color:rgb(136,136,136);
}