/*ͷ������ʽ*/
.my_header{
	width:90%;height:120px;
    display:flex;
    padding-top:8px 0;
    margin:0 auto;
    list-style:none;
    justify-content:space-between;
    align-items:center;
	font-size:14px;
}
/*logo��ʽ*/
.my_logo{width:240px;}
/*������*/
.my_header li a{
	color:black;
	font-weight:600;}
/*�����������ͣ*/
.my_header li a:hover{
	color:red;
	
}
.item+.item:hover:after{
	content:"";
	display:block;
	margin-top:10px;
	border:1px solid red;

}
.header_one{
	position:relative;
}
.header_one_item{
	width:80px;
	padding:20px 0;
	position:absolute;
	top:28px;
	background:rgba(255,255,255,0);
	display:none;
	z-index:10;
}
.header_one_item ul li{
	height:30px;
	line-height:30px;
	font-size:14px;
}
.header_one:hover .header_one_item{
	display:block;
}
.header_two{
	position:relative;
}
.header_two_item{
	width:80px;
	padding:20px 0;
	position:absolute;
	top:28px;
	background:rgba(255,255,255,0);
	display:none;
	z-index:10;
}
.header_two_item ul li{
	height:30px;
	line-height:30px;
	font-size:14px;
}
.header_two:hover .header_two_item{
	display:block;
}
.header_screen{
	position:relative;
}
.header_screen_item{
	width:80px;
	padding:20px 0;
	position:absolute;
	top:28px;
	background:rgba(255,255,255,0);
	display:none;
	z-index:10;
}
.header_screen_item ul li{
	height:30px;
	line-height:30px;
	font-size:14px;
}
.header_screen:hover .header_screen_item{
	display:block;
}